* {
    margin: 0;
    padding: 0;
}
.signIn {
    position: relative;
    top: 50%;
    transform: translateY(80%);  
    text-align: center;
    height: 30vh;
    width: 32vh;
    margin-left: auto;
    margin-right: auto;
}
.signIn h1 {

    font-family: Arial;
}
.signIn input{
    width: 180px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
.signIn button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    width: 130px;
    border-radius: 12px;
    background-color: #6C63FF;
    box-shadow: 0px 7px 0px 0px #5a52fc;
    border:none;
}
.signIn button:hover {
    cursor: pointer;

}
@media only screen and (max-width: 550px) {
    .signIn { 
        width: 80%;
    }
    .signIn h1 {
        font-size: 40px;
    }
    .signIn input{
        text-align: center; 
        font-size: 25px; 
        width: 230px; 
        padding: 10px; 
        border: 2px solid black; 
        border-radius: 5px; 
        margin-top: 20px; } 
    .signIn button { 
        margin-top: 20px; 
        font-size: 30px; 
        padding: 10px; 
        width: 160px; 
        border-radius: 12px; 
        background-color: #6C63FF; 
        box-shadow: 0px 7px 0px 0px #5a52fc; 
        border:none; 
    } .signIn a, .signIn p { 
        font-size: 20px; 
    } .signIn button:hover { 
        cursor: pointer; 
    }
}